<!DOCTYPE html>
<html lang="en" , xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Person</title>
</head>
<body>

<p th:text="${person.getId()}">VALUE</p>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>

<div th:if="${books.isEmpty()}">
    <p>This Visitor didn't take any book</p>
    </hr>
</div>

<div th:if="${!books.isEmpty()}">
    <div th:each="book: ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getTitle()+ ', ' + book.getAuthor()}">book</a>
        </br>
    </div>
        </hr>
    </div>

    <!--<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>-->
    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
        <input type="submit" value="Update"/>
    </form>

    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Delete"/>
    </form>

</body>
</html>