<!DOCTYPE html>
<html lang="en" , xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Book</title>
</head>
<body>
<p th:text="${book.getId()}">VALUE</p>
<p th:text="${book.getTitle() + ', ' + book.getAuthor()+ ', ' + book.getYear()}">VALUE</p>

<div th:if="${reader}">
    <p style="color:orangered">The book is currently being read by:<span th:text="${reader.getFullName()}">Person name</span></p>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Release book"/>
    </form>
</div>

<div th:if="${people}">
    <p style="color:green">The book is currently not occupied by a reader</p>

    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Choose person</label>
        <select th:object="${person}"  th:field="*{id}" id="person">
            <option th:each="person:${people}" th:value="${person.getId()}" th:text="${person.getFullName()
            + ', ' + person.getYearOfBirth()}"></option>
        </select>
        <input type="submit" value="Assign Reader">
    </form>
</div>

<hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Update"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>